---
layout: layouts/base
---
<section>
  <main>
    <article class="post">
      <h2 class="post__link">{{ name }} <span class="post__meta">/ {{ date | UTCDate | date: "%B %d, %Y" }}</span></h2>
      {% for image in images %}
        <figure>
          <picture>
            <source media="(min-width: 1024px)"
            srcset="/assets/images/entries/{{ date | UTCDate | date: "%Y-%m-%d" }}/{{ image.large }}" />
            <img src="/assets/images/entries/{{ date | UTCDate | date: "%Y-%m-%d" }}/{{ image.small }}" {% if image.alt %} alt="{{ image.alt }}" {% endif %}>
          </picture>
          {% if image.alt %}<figcaption>{{ image.alt }}</figcaption>{% endif %}
        </figure>
      {% endfor %}
    </article>
  </main>
</section>
